<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Home Page</string>
	<string>My Good Deal</string>
	<string>My Buddies</string>
	<string>Message Center</string>
	<string>Account Settings</string>
	<string>Info and how-to&apos;s</string>
</array>
</plist>
